@model Book

@{
    ViewData["Title"] = "Delete Book";
}


<div class="section">
	<h1 class="section__title">Delete conformation for "@Model.Title"</h1>
  
	<div class="info">
		<input class="item__text" asp-for="ImageURL" type="hidden"/>
		<img class="info__img" id="ImagePreview" alt="cover">

		<div class="info__container">
			<h2 class="info__item">@Model.Title</h2>
			<span class="info__text">@Model.Author.Name</span>
			<span class="info__text">Price: <span class="info__text-value">@Model.Price₴</span></span>
			<span class="info__text">Pages: <span class="info__text-value">@Model.Pages</span></span></span>
			<span class="info__text">Stock: <span class="info__text-value">@Model.Quantity</span></span></span>
			<span class="info__text">Genre: <span class="info__text-value">@Model.Genre</span></span></span>
			<span class="info__text">Publisher: <span class="info__text-value">@Model.Publisher.Name</span></span></span>
		</div>
	</div>

	<div class="section__buttons">
		<a class="btn reversed" asp-action="Index">
			<i class="fa-solid fa-left-long"></i>
			<span class="btn__text">Go Back</span>
		</a>
		<form asp-action="Delete" class="form-container">
			<input type="hidden" asp-for="Id" />
			<button type="submit" class="btn">
				<span class="btn__text">Confirm</span>
				<i class="fa-solid fa-circle-check"></i>
			</button>
		</form>
	</div>
</div>

@section Scripts{ 
    <script>
        $(document).ready(function () {
            var output = document.getElementById('ImagePreview');
            output.src = $("#ImageURL").val();
            output.style.display = "block";
        })
    </script>
}