@model Book

@{
    ViewData["Title"] = "Book Info";
}


<div class="section">
	<h1 class="section__title">@ViewData["Title"]</h1>
  
	<div class="info">
		<input class="item__text" asp-for="ImageURL" type="hidden"/>
		<img class="info__img" id="ImagePreview" alt="cover">

		<div class="info__container">
			<h2 class="info__item">@Model.Title</h2>
			<span class="info__text">@Model.Author.Name</span>
			<span class="info__text">Price: <span class="info__text-value">@Model.Price₴</span></span>
			<span class="info__text">Pages: <span class="info__text-value">@Model.Pages</span></span></span>
			<span class="info__text">Stock: <span class="info__text-value">@Model.Quantity</span></span></span>
			<span class="info__text">Genre: <span class="info__text-value">@Model.Genre</span></span></span>
			<span class="info__text">Publisher: <span class="info__text-value">@Model.Publisher.Name</span></span></span>

			@* <div class="info__box">
				<label class="info__text" for="user-quantity">Quantity</label>
		    <input class="info__text" id="user-quantity" value="1" size="5"/>
			</div> *@

		</div>
	</div>

	<div class="section__buttons">
		<a class="btn reversed" asp-action="Index">
			<i class="fa-solid fa-left-long"></i>
			<span class="btn__text">Go Back</span>
		</a>
		<a class="btn" asp-controller="Orders" asp-action="AddItemToShoppingCart" asp-route-id="@Model.Id">
			<span class="btn__text">Buy</span>
			<span class="btn__text text-red">@Model.Price₴</span>
	    <i class="fa-solid fa-cart-shopping"></i>
		</a>
	</div>   
</div>

<a class="fixed-btn" asp-controller="Books" asp-action="Edit" asp-route-id="@Model.Id">
  <span class="btn__text">Update</span>
  <i class="fa-solid fa-pen-to-square"></i>
</a>

<a class="fixed-btn" asp-controller="Books" asp-action="Delete" asp-route-id="@Model.Id">
  <span class="btn__text">Delete</span>
  <i class="fa-solid fa-trash"></i>
</a>

@section Scripts{ 
    <script>
        $(document).ready(function () {
            var output = document.getElementById('ImagePreview');
            output.src = $("#ImageURL").val();
            output.style.display = "block";
        })
    </script>
}